a {
    text-decoration: none;
}

#nav {
    height: 50px;
    background-color: #E8E7E3;
    display: flex;
}

#nav li {
    flex-grow: 1;
    line-height: 50px;
    text-align: center;
}

#nav a {
    /*只有块元素长宽设置有效*/
    display: block;
    color: #777777;
}

#nav a:hover{
    background-color: #3F3F3F;
    color: #E8E7E3;
}